#fondo{
    background-image: url('../../../assets/img/fondo\ nuevo.jpg');
    background-size:  100%;
    height : 1500px;
    padding-top: 150px;
    background-repeat: no-repeat;
    


}

#form{
    width: 300px;
    text-align:center;
    position: absolute;
    margin-left: 50%;
    left: -10%;
    top: 40%;


}




input{
      margin-top: 10px;

}
