<header class="navbar sticky-top  flex-md-nowrap p-0 shadow" data-bs-theme="light">
    <link rel="stylesheet" href="header.component.scss">


    <img src="assets/img/logo.jpg"alt="bienestar para ti" width="265" height="150"/> 


    <h1>OHANAQUIKLMJN
     </h1>
  
        <button class="nav-link px-3 text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle search">
          <span class="nav-toggler-icon"></span>
        </button>
    <div class="navbar-nav">
        <div class="nva-item text-nowrap">
         <a class="nav-link px-3" href="#">CERRA SESION</a>
        </div>
    </div>    
</header>