.navbar-nav{
padding-right: 50px;
border-radius: 20px;
text-align: right;
text-decoration-color: black;

}

header{
background-color: rgb(33, 33, 199)

}


#navbar-brand{
    padding-right: 950px;
    
}

h1{
padding-right: 600px;

}