
<h1>USUARIOS</h1>

<button class="btn btn-primary"(click)="mostrar(1)">insertar usuario</button><br><br>

<div id="formulario" *ngIf="verf==true">
    <div class="row">
       <div class="col-lg-6">
         <input type="text" id="nombre" class="form-control" [(ngModel)]="user.nombre"><br>
         <span style="color: red;" *ngIf="validnombre==false">insertar nombre</span>
       </div>
       <div class="col-lg-6">
        <input type="email" id="usuario" class="form-control" [(ngModel)]="user.usuario" ><br>
        <span style="color: red;" *ngIf="validusuario==false">insertar Usuario</span>
       </div>
    </div> 
    <div class="row">
        <div class="col-lg-6">
        <input type="password" id="clave" class="form-control" [(ngModel)]="user.clave"><br>
        <span style="color: red;" *ngIf="validclave==false">insertar contraseña</span>
        </div>
        <div class="col-lg-6">
        <select id="tipo" class="form-control form-select" [(ngModel)]="user.tipo"><br>
            <option value="administrador" label="administrador">administrador</option>  
            <option value="general" label="general">general</option>
        </select>
        <span style="color: red;" *ngIf="validtipo==false">Elegir el tipo de usuario</span>
        </div>
     </div>
     <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-3">
            <button *ngIf="beditar==false" class="btn btn-primary" (click)="ingresar()">Guardar</button>
            <button *ngIf="beditar==true" class="btn btn-primary" (click)="editar()">EDITAR</button>
            
        </div>
        <div class="col-lg-3">
            <button class="btn btn-secondary" (click)="mostrar(0)">CANCELAR</button>
        </div>
        <div class="col-lg-3"></div>
     </div>
   
</div>

<br>
<div class="table-responsive">
    <table class="table table-success table-striped" border="2">
      <tr>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>tipo</th>
        <th>Acciones</th>
      </tr>
    
      <tr *ngFor="let item of usuario">
      
      <td>{{item.nombre}}</td>
        <td>{{item.usuario}}</td>
        <td>{{item.tipo}}</td>
        <td>
    
            <a (click)="cargardatos(item,item.id_usuario)">
                <span class="fas fa-edit Editar" title="Editar"></span>
            </a>

            
            
            <a (click)= "pregunta(item.id_usuario,item.nombre)">
                <span class= "fas fa-trash Eliminar" title="Eliminar"></span>
            </a> 
        </td>
    </tr>
    </table>
</div>
