input,select,button{
    text-align: right;
    margin-top: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
}

.Editar{
    color: green;
    cursor: pointer;
}



.Eliminar{
     color: red; 
     cursor: pointer;

}




